
@font-face {
    font-family: bold ;
    src: url(../font/theboldfont.ttf);
    font-weight: normal;
    font-style: normal;

}

body {
    margin:0;
    padding:0
  }
section{
    display:block;
    width: 358px;
    height: 710px;
    border-color: black;
    border-style: solid;
    background-color: #00a2ac;
}

.volver{
    margin-top: 50px;
    margin-left: 38px;
}

.musica1{
    margin-top: 50px;
    margin-left: 195px;
    display: inline;
}

.volverjuego{
    margin-top: 30px;
    margin-left: 38px;
    display: inline;
}

.pausajuego{
    margin-top: 30px;
    margin-left: 80px;
    display: inline;
}


.musicajuego{
    display: inline-block;
    margin-left: 80px;
    
 
}
.musicainicio{
    margin-top: 30px;
    margin-left: 280px;
}


#juego_pantalla{
    background-image: url(../img/fondojuego.png)
}

#instrucciones_pantalla{
    background-image: url(../img/instrucciones.png)
}

#creditos_pantalla{
    background-image: url(../img/creditos.png)
}

#pausa_pantalla{
    background-image: url(../img/fondopausa.png);
}

#perdiste_pantalla{
    background-image: url(../img/fondopuntaje.png);
}

.tituloinstruccion{
    font-family: bold;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
}

#pez_comida{
    height: 130px;
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 60px;
}

#pez{
    width: 20px;
    height: 20px;
}

#comida{
    display: inline;
    margin-top: 50px;
    position: relative;
    margin-left: 220px;
}

#comida_respuesta{
    display: block;
    position: relative;
    margin-top: 0px;
    opacity: 1;
}


#correctobox{
    margin-bottom: 10px;
}

#texto_respuesta{
    font-family: bold;
    position: absolute;
    display: block;
    text-align: center;
    top: 25%;
    left: 15%;
    color: #00a2ac;
    font-size: 25px;
    opacity: 1;
}

.puntaje-pausa{
    margin-top: 150px;
    margin-left: 30px;
    margin-right: 30px;
}

.volver_jugar{
    margin: 60px;
}

#borrar{
    font-size: 40px;
}

#cuentaregresiva{
    font-family: bold;
    text-align: center;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #ed6544;
}

#puntaje{
    font-family: bold;
    font-size: 1em;
    text-align: center;
    margin-bottom:0px;
    margin-top: 0px;
    color: #00a2ac;
}


#correcto{
    font-family: bold;
    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0px;
    color: #7ac4ad;
}

#splash{
    width: 358px;
    height: 710px;
    display:block;
    margin:auto;
}


.titulosuma{
    font-family: bold;
    font-size: 55px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
    color: #e6cb75;
}

#menu{
    width: 288px;
    display: block;
    padding-top: 20px;
    padding-left: 35px;
    padding-right: 35px;
    text-decoration: none;
    text-align: center;
    
}

#menu2{
    width: 288px;
    background-color: #7ac4ad;;
    color: black;
    display: block;
    padding-left: 35px;
    padding-right: 35px;
    text-decoration: none;
    text-align: center;
}



#coral{
    width: 220px;
    height: 220px;
    margin: 5px auto;
    display: block;
}

.butonmenu{
    text-decoration: none;
    width: 270px;
    height: 60px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: bold;
    font-size: 25px;
    color: white;
    background-color: #ed6544;
}


#contenedorpausa{
    padding: 20px 0;
    position: relative;
}


.puntaje-pausa{
    font-family: bold;
    text-align: center;
    font-size: 40px;
    margin-top: 150px;
    margin-bottom: 0px;

    position: relative;
    z-index: 50;

    color: #00a2ac;
    width: 280px;
    height: 120px;
    background-color: white;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.puntaje-pausaperdido{
    font-family: bold;
    text-align: center;
    font-size: 30px;
    margin-top: 150px;
    margin-bottom: 0px;
    margin-left: 30px;
    position: relative;
    z-index: 50;
    color:white;
    width: 280px;
    height: 120px;
    background-color: #00a2ac;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.butonjugarpausa{
    text-decoration: none;
    position: absolute;
    top: 83%;
    left: 35%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 240px;
    height: 70px;
    margin-left: 45px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: bold;
    font-size: 25px;
    color: white;
    background-color: #ed6544;
}

.grid-container {
    display: grid;
    grid-template-columns: 80px 80px 80px;
    grid-template-rows: 80px 80px 80px;
    justify-content: center;
    position: block;
  }


.listanumeros{
    text-decoration: none;
    width: 65px;
    height: 65px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: bold;
    font-size: 50px;
    color: white;
    background-color: #00a2ac;
}

.butonjugarins{
    text-decoration: none;
    width: 250px;
    height: 80px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: bold;
    font-size: 25px;
    color: white;
    background-color: #ed6544;
    margin-left: 54px;
    margin-right: 55px;
    margin-top: 450px;
    margin-bottom: 50px;
    display: block;
}

.musicamenu{
    margin-top: 30px;
    margin-left: 312px;
}

.oculto{
    display: none;
}

.texto_animado{
    animation-duration: 2s;
    animation-name: slidein_texto;
}

.imagen_animada{
    animation-duration: 2s;
    animation-name: slidein_burbuja;
}

@keyframes slidein_burbuja {
    from {
      margin-left: 0%;
      margin-top: 0px;
      width: 100%;
      opacity: 1;
    }
  
    to {
      margin-left: -115%;
      margin-top: 60px;
      width: 30%;
      opacity: 0.3;
    }
}

@keyframes slidein_texto {
    from {
      margin-left: 0%;
      top: 25%;
      font-size: 25px;
      opacity: 1;
    }
  
    to {
      margin-left: -130%;
      top: 30%;
      font-size: 10px;
      opacity: 0.3;
    }
}
